*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: #FFFFFF;
}

.sidebar{
    background-color: #8A5B2F;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr 0.2fr;
}

.sidebar .lists button{
    background-color: rgb(255, 255, 255, 0);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.sidebar h1{
    font-size: 45px;
    padding: 1rem 1.2rem;
}

.sidebar .lists{
    padding: 1.5rem 2.5rem;
}

.sidebar i{
    width: 16px;
    margin-right: 6px;
}

.homeList span, .projectList span{
    margin-right: 0.2rem;
}

.sidebar h2{
    font-size: 30px;
}

.sidebar ul{
    margin-top: 5px;
    list-style: none;
    padding-left: 0.7rem;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.sidebar .homeList{
    margin-bottom: 2rem;
}

.sidebar .login{
    width: 150px;
    height: 26%;
    align-self: center;
    margin-left: 2rem;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFAD60;
}

.sidebar p{
    margin-left: 2rem;
}

.content{
    background-color: #FFEEAD;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.todoName, .date, .tasks{
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 90%;
    background-color: rgb(255, 255, 255, 0.6);
}

.todoName{

}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks{
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 450px;
    gap: 1rem;
}

.task{
    border-bottom: 2px solid rgb(153, 151, 151);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-bottom: 0.2rem;
    margin: 0.5rem 0;

    align-items: center;

}

.taskText{
    display: flex;
    gap: 1rem;
}

.task input{
    width: 20px;
    accent-color: green;
}

.task .delete, .edit{
    width: 30px;
    height: 30px;
    align-self: flex-end;
    background-color: rgb(255, 255, 255, 0);
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task .delete:hover, .edit:hover{
    border: 2px solid black;
    border-radius: 20px;
}

.task .taskButtons{
    display: flex;
    gap: 0.5rem;
}




::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFAD60;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 5px solid #FFAD60;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
  }
  
  /* Handle on hover */
 /*  ::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216);
  } */
